  @font-face {
    font-family: "Bounded";
    src: url("../fonts/test/Bounded-Variable.woff2"), url("../fonts/test/Bounded-Variable.woff");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }