*, *::after, *::before {
    box-sizing: border-box;
  }
body {
  font-family: "Unbounded";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
}
.wrapper {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
  }
  .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  :root {
    --orange: #EB6F00;
    --gray: #555E65;
    --black: #111732;


  }
  /* Header */

  .header {
    padding-top: 5px;
    font-weight: 500;
  }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper {
  }
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo img {
    margin-right: 23px;
  }
  .header__logo span{
    font-weight: 700;
    font-size: 24px;
    color: var(--orange);
  }
  .header__menu {
  }
  .header__list {
    display: flex;

  }
  .header__list-item:not(:last-child) {
    margin-right: 34px;
  }
  .header__list-link {
    transition: .3s ease 0s;
    color: var(--gray);
  }
  .header__list-link:hover {
    color: var(--orange);
  }
  .header__list-contacts {
    display: none;
  }
  .header__list-contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .header__list-contacts-link {
    transition: .3s ease 0s;
    display: flex;
    align-items: center;
    padding: 10px 40px;
    border-radius: 60px;
  }
  .header__list-contacts-link span {
    line-height: 1.15;
  }
  .header__list-contacts-link-tel {
    background-color: var(--orange);
  }
  .header__list-contacts-link-wh {
    background-color: #05CE7C;
  }
  .header__list-contacts-link-tg {
    background-color: #29A4E9;
  }
  .header__list-contacts-link-mail {
    background-color: #fff;
  }
  .header__list-contacts-link img {
    margin-right: 20px;
  }
  .header__list-contacts-link:hover {
    opacity: 0.7;
  }
  .header__list-contacts-link-mail span {
    color: var(--black);
  }
  .header__contacts {
    display: flex;
    align-items: center;
  }
  .header__contacts-item:not(:last-child) {
    margin-right: 8px;
  }
  .header__contacts-link {
    transition: .3s ease 0s;
  }
  .header__contacts-link:hover {
    opacity: 0.7;
  }
  .header__contacts-link-tel {
    display: inline-block;
    padding: 13px 18px;
    background-color: var(--orange);
    border-radius: 60px;
  }
  .header__contacts-link-tel span {
    font-size: 18px;
  }
  .header__burger {
    display: none;
    width: 32px;
    height: 22px;
    margin-left: 20px;
  }
  .header__burger-wrap {
    position: relative;
    height: 100%;
  }
  .header__burger-wrap span {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--gray);
    transition: .3s ease 0s;
  }
  .header__burger-wrap span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }
  .header__burger-wrap span:last-child{
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    background-color: var(--orange);
  }
  .header__burger.active span:first-child{
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
  }
  .header__burger.active span:nth-child(2){
    opacity: 0;
  }
  .header__burger.active span:last-child{
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;;
  }
  @media screen and (max-width: 1240px) {
    .header {
      padding-top: 20px;
    }
    .header__logo img {
      display: none;
    }
    .header__contacts-item:not(:last-child) {
     display: none;
    }
  }
  @media screen and (max-width: 1023px) {
    .header__list-item:not(:last-child) {
      margin-right: 20px;
    }
    .header__contacts-link-tel span {
      font-size: 15px;
  }
  .header__logo span {
    font-size: 22px;
}
  }

@media screen and (max-width: 850px) {
  .header__wrapper {
    justify-content: flex-start;
}
.header__logo {
  flex: 1 0 auto;
}
  .header__list-contacts {
    display: block;
  }
  .header__list {
    flex-direction: column;
    margin-bottom: 39px;
}
.header__list-item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.header {
  padding: 20px 0px;
}
.header__menu {
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  padding: 16px 20px 40px 20px;
  transition: .3s ease 0s;
  opacity: 0;
  pointer-events: none;
}
.header__menu.active {
  opacity: 1;
  pointer-events: auto;
}
.header__burger {
  display: block;
}
  }
  @media screen and (max-width: 500px) {
    .wrapper {
      padding: 0 15px;
  }
  .header__menu {
    padding: 16px 15px 40px 15px;
}
.header__logo span {
  font-size: 20px;
}
.header__contacts-link-tel span {
  font-size: 13px;
}
.header__contacts-link-tel {
  padding: 13px 10px;
}
  }
  @media screen and (max-width: 374px) {
    .header__contacts-item:last-child {
      display: none;  
     }
     .header__list-contacts-link {
      padding: 10px 30px;
  }
  }